html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: -webkit-fill-available;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

select:focus {
    outline: none;
}

.center_block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form1 {
    padding: 3rem !important;
    --bs-bg-opacity: 1;
    background-color: rgba(248, 249, 250);
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
}


.form1 input {
    padding: 1rem 0.75rem;
}

.text-muted {
    --bs-text-opacity: 1;
    color: rgb(108, 117, 125) !important;
}

.form_row {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnform1 {
    color: #fff;
    background: #0d6efd;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
}

.btnform2 {
    color: #fff;
    background: #fd0d0d;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
}

.lktop {
    position: fixed;
    margin-top: 20px;
    top: 0px;
    padding: 20px;
    right: 20px;
    background-color: rgba(248, 249, 250);
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
}

.authinfo {
    text-align: center;
    align-items: center;
    font-size: 1rem;
}

.return_info,
.return_info2,
.return_info3 {
    text-align: center;
}

.form-row {
    overflow: auto;
}


.info_category {
    margin-left: 25px;
}

.id_cat {
    color: #0d6efd;
    font-size: large;
    font-weight: bold;
    line-height: 1.4;
    margin-right: 7px;
}

/* ------------------------------------------------------------------------------------- */
/* --------------------------------------- tree ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

.form2 {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 249, 250);
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
}

.tree {
    --spacing: 1.5rem;
    --radius: 10px;
    padding-left: 0px;
    width: max-content;
}

.tree li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}


.tree ul li {
    border-left: 2px solid #ddd;
}

.tree ul li:last-child {
    border-color: transparent;
}

.tree ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

summary {
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------- */
/* -------------------------------------- /tree ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------- */
/* -------------------------------------- popup ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    /* max-height: 30%; */
    overflow: auto;
}


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- /popup ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- popup2 ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

#popup2 select {
    padding: 10px;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
}

.popup2 {
    margin: 20px;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------ /popup2 ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------- popup3 ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

#popup3 select {
    padding: 10px;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
}

.popup3 {
    margin: 20px;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------ /popup3 ---------------------------------------- */
/* ------------------------------------------------------------------------------------- */

/* Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше) */
@media (min-width: 576px) {}

/* Устройства Medium (планшеты, 768 пикселей и выше) */
@media (min-width: 768px) {}

/* Устройства Large (настольные компьютеры, 992 пикселей и выше) */
@media (min-width: 992px) {

    .popup2,
    .popup3 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше) */
@media (min-width: 1200px) {

    .popup2,
    .popup3 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше) */
@media (min-width: 1400px) {

    .popup2,
    .popup3 {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}